.horizontal-navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;

    top: 0;

    left: 0;
    right: 0;
    z-index: 2;

}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 10px;
}

.nav-button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #777;
}

.side-panel {
    position: fixed;
    top: 87px;
    left: 0;
    width: 300px;
    height: 700px;
    background-color: cadetblue;
    color: black;
    transition: left 0.3s;
    overflow-y: auto;
    z-index: 1;
}